*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav_link {
    font: normal 12pt "Euphemia UCAS";
    color: white;
    vertical-align:middle;
    display: block;
	padding: 10px 10px;
}

.right {
    text-align:right; 
}

.center {
    text-align:center; 
}

.small_padding {
    padding: 3px 0px;
}

.nav_link a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);    
}
