.main {
	margin-top: 20px;
    font: normal 34pt "Andale Mono", AndaleMono, monospace;
    color: white;
	text-align:center; 
    vertical-align:middle; 
}

.tags {
    font: normal 16pt "Andale Mono", AndaleMono, monospace;
    position:relative;    
}

.tags a {
    color: white;
	display: inline-block;
	outline: none;
	text-decoration: none;
	letter-spacing: 2px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);    
}

.small {
    font: normal 13pt "Andale Mono", AndaleMono, monospace;
}	

.footer {
    width: 100%;
    height: 0px;
    bottom: 10px;
    opacity:0;
    font: normal 8pt "Andale Mono", AndaleMono, monospace;
    color: white;
	text-align:center; 
    vertical-align:bottom;
    position:fixed;
}

html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background: #1C1C1C
}

.bounce_animation {
    opacity:0;
    animation:bounce 1.0s 0s;
	-webkit-animation:bounce 1.0s 0s;
    animation-fill-mode: forwards;  
    -webkit-animation-fill-mode: forwards;  
}

.fade_in_animation {
    opacity:0;
    animation:fadeIn 0.5s 1s;
	-webkit-animation:fadeIn 0.5s 1s;
    animation-fill-mode: forwards;  
    -webkit-animation-fill-mode: forwards;  
}

.fast_fade_in_animation {
    opacity:0;
    animation:fullFadeIn 0.5s 0.3s;
	-webkit-animation:fullFadeIn 0.5s 0.3s;
    animation-fill-mode: forwards;  
    -webkit-animation-fill-mode: forwards;  
}

@keyframes bounce{
    0%   {top:-700px;}
    60% {opacity:0.5; top:10px;}
    80% {opacity:1; top:-5px;}
    100% {opacity:1; top:0px;}
}

@-webkit-keyframes bounce{
    0%   {top:-700px;}
    60% {opacity:0.5; top:10px;}
    80% {opacity:1; top:-5px;}
    100% {opacity:1; top:0px;}
}

@keyframes fadeIn {
    100% {opacity:0.6}
}

@-webkit-keyframes fadeIn {
    100% {opacity:0.6}
}

@keyframes fullFadeIn {
    100% {opacity:1.0}
}

@-webkit-keyframes fullFadeIn {
    100% {opacity:1.0}
}

